<i>3D Gaussian Splatting for Real-Time Radiance Field Rendering</i>

<ul class="link-list">
  {%- for page in collections.3dgs_breakdown | sort(attribute="data.order") -%}
    <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
  {%- endfor -%}
</ul>