---
title: "Thesis Home"
layout: "welcome.njk"
---

    <h1>Matej L&ouml;rinc</h1>
    Comenius University Bratislava
<hr style="border: none; height: 2px; background-color: black; width: 80%;margin-top: 30px;">
    <h2> Master's Thesis </h2>
    <i class="centered-text"> Modern Techniques for Medical Data Imaging on Consumer-Grade Hardware</i>

<ul class="link-list">
  {%- for article in collections.articles -%}
    <li><a href="{{ article.url }}">{{ article.data.title }}</a></li>
  {%- endfor -%}
</ul>