---
title: "Thesis Home"
layout: "welcome.njk"
---

    <h1>Matej L&ouml;rinc</h1>
    Comenius University Bratislava
<hr style="border: none; height: 2px; background-color: black; width: 800px; margin-top: 30px;">
    <h2> Master's Thesis </h2>
    <i class="centered-text"> Modern Techniques for Medical Data Imaging on Consumer-Grade Hardware</i>

<br/><br/>


<ul class="link-list">
<hr class="links-line">
  {%- for info in collections.infos | sort(attribute="data.order") -%}
    <li><a href="{{ info.url }}">{{ info.data.title }}</a></li>
  {%- endfor -%}

<hr class="links-line">
  {%- for misc in collections.miscs | sort(attribute="data.order") -%}
    <li><a href="{{ misc.url }}">{{ misc.data.title }}</a></li>
  {%- endfor -%}

<hr class="links-line">
  {%- for chapter in collections.chapters | sort(attribute="data.order") -%}
    <li><a href="{{ chapter.url }}">{{ loop.index }}. {{ chapter.data.title }}</a></li>
  {%- endfor -%}

</ul>