{% extends "base.njk" %}

{% block content %}
  <article class="markdown-body"> 
    {{ content | safe }}
  </article>

  <br/><br/><br/>
  <a href="{{ '/homepages/homepage_' + (tags | getCategory) }}" class="floating-home-btn">Home</a>
{% endblock %}