<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matej Lorinc</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>

<div class="sidebar">
    <div class="sidebar-label">MENU</div>
    <ul>
        {%- for homepage in collections.homepages | sort(attribute="data.order") -%}
            <li><a class="sidebar-box" href="{{ homepage.url }}">{{ homepage.data.titleMenu | default(homepage.data.title) }}</a></li>
        {%- endfor -%}
    </ul>
</div>

    <br/><br/><br/>
    {{ content | safe }}
    <br/><br/><br/>

    <script src="/scripts/stop_arrow.js"></script>

</body>
</html>