{% extends "base.njk" %}

{% block content %}
  <article class="markdown-body"> 
    {{ content | safe }}
  </article>

  <br/><br/><br/>
  <script src="/scripts/supphomebutton.js"></script>
{% endblock %}