{% extends "base/base.njk" %}

{% block head %}
  {{ super() }}  {# keep global CSS #}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css">
  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/article.css">
  <link rel="stylesheet" href="/css/widgets.css">
  <link rel="stylesheet" href="/css/markdown-containers.css">

  <style>
  /* The theme requires content to be in a box */
  .markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  }

  @media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
  }
  </style>

{% endblock %}

{% block beforeContent %}
    {% include "partials/sidebar.njk" %}
{% endblock %}

{% block content %}
  <div class="markdown-body">
    {{ super() }}
  </div>
{% endblock %}

{% block afterContent %}
    {% if showScrollArrow %}
        {% include "partials/scrollarrow.njk" %}
    {% endif %}

    {% include "partials/homebutton.njk" %}
{% endblock %}
