---
title: "3D Gaussians"
titleMenu: "3DGS"
orderMenu: 6
layout: "base/base_section.njk"
showScrollArrow: true
tags: "sections"
---

<h1>Blog:</h1>
<h2>3D Gaussian Splatting</h2>

{% include "section_blocks/3dgs/blog.njk" %}
<hr style="border: none; height: 2px; background-color: black; width: 75%; margin-top: 50px; margin-bottom: 50px;">
{% include "section_blocks/3dgs/3dgs_breakdown.njk" %}
