<!-- Left Sidebar Menu -->

    <div class="sidebar">
        <div class="sidebar-label">
            MENU
        </div>

        <div class="sidebar-scroll-area">
            <ul>
                
                    
                    
                        <li>
                            <a class="sidebar-box " href="/sections/section_dipl/">
                                Thesis Home
                            </a>
                        </li>

                    
                
                    
                    
                        <li>
                            <a class="sidebar-box " href="/sections/section_supp_blog/">
                                Supplementary Blog
                            </a>
                        </li>

                    
                
                    
                    
                        <li>
                            <a class="sidebar-box " href="/sections/section_mathematics/">
                                Mathematics
                            </a>
                        </li>

                    
                
                    
                    
                        <li>
                            <a class="sidebar-box " href="/sections/section_3dgs/">
                                3D Gaussian Splatting
                            </a>
                        </li>

                    
                
                    
                    
                        <li>
                            <a class="sidebar-box " href="/sections/section_ds/">
                                Data Structures
                            </a>
                        </li>

                    
                
                    
                    
                        <li>
                            <a class="sidebar-box " href="/sections/section_compbio/">
                                Computational Biology
                            </a>
                        </li>

                    
                
                    
                    
                        <li>
                            <a class="sidebar-box " href="/sections/section_dlcv/">
                                DL: Computer Vision
                            </a>
                        </li>

                    
                
            </ul>
        </div>

        <div class="sidebar-bottom-action">
            <a class="sidebar-box special-action" href="/chats/">
                LLM Chats
            </a>
        </div>
    </div>
